.jumbotron {
  padding-top: 7rem;
  background-color: #a2d9ff;
}
#project {
  background-color: #a2d9ff;
}
body {
  font-family: "Poppins", sans-serif;
}
.card {
  position: relative;
}
.card-body,
.card::after {
  width: 100%;
  position: absolute;
}
.card::after {
  content: "";
  height: 100%;
  transition: 1.5s;
}
.card:hover::after {
  background: linear-gradient(
      to bottom,
      rgba(4, 134, 151, 0.01) 0,
      rgba(27, 193, 223, 0.21) 25%,
      rgba(31, 204, 235, 0.678) 50%,
      rgba(6, 245, 245, 0.75) 75%
    ),
    rgba(3, 175, 255, 0.95) 100%;
}
.card-body {
  padding: 20px;
  margin-bottom: 20px;
  bottom: 0;
  z-index: 1;
  transform: all 0.5 cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}
.card-body:hover .card-text {
  transform: translateY();
}
